<p class="post-details">
	{% for category in include.post.categories %}
		<span class="blog-filter">
			<a href="{{ site.baseurl }}/category/{{ category}}/">{{ category | capitalize }}</a>
		</span>
	{% endfor %}
	{% if post.date %}
		{% assign postdate = post.date %}
	{% else %}	
		{% assign postdate = page.date %}
	{% endif %}
	{% assign months = "enero|febrero|marzo|abril|mayo|junio|julio|agosto|septiembre|octubre|noviembre|diciembre" | split: "|" %}
	{% assign m = postdate | date: "%-m" | minus: 1 %}
	{% assign day = postdate | date: "%d" %}
	{% assign month = months[m] %}
	{% assign year = postdate | date: "%Y" %}
	<span class="post-date">{{ day }} de {{ month }} de {{ year }}</span>
</p>
