<p class="post-details">
	{% for category in include.post.categories %}
		<span class="blog-filter">
			<a href="{{ site.baseurl }}/category/{{ category}}/">{{ category | capitalize }}</a>
		</span>
	{% endfor %}
	{% assign months = "Enero|Febrero|Marzo|Abril|Mayo|Junio|Julio|Agosto|Septiembre|Octubre|Noviembre|Diciembre" | split: "|" %}
	{% assign m = page.date | date: "%-m" | minus: 1 %}
	{% assign day = page.date | date: "%d" %}
	{% assign month = months[m] %}
	{% assign year = page.date | date: "%Y" %}
	<span class="post-date">{{ day }} de {{ month }} de {{ year }}</span>
</p>
