<!DOCTYPE html>
<html lang="en">
{% include head.html %}

<body>
  <main>
    {% include header.html %}
    <section class="article">
      <div class="article-header">
        <h2 class="article-title">{{page.title}}</h2>
        <h3 class="article-subtitle">{{page.subtitle}}</h3>
        <small class="date">{{page.date | date_to_string}}</small>
        <div class="tags">
{%- if page.tags -%}
    {% for tag in page.tags %}
        <a href="{{site.baseurl}}/tags.html#{{tag | slugize}}" class="tag">
            #{{ tag }}
        </a>
    {% endfor %}
{%- endif -%}
        </div>
      </div>
      <div class="content">{{content}}</div>
    </section>
    {% include footer.html %}
  </main>
  {% include cookie-consent.html %}
</body>

</html>